@import 'fonts.css';

:root
{
    --mr:'Montserrat-Regular';
    --mb:'Montserrat-Bold';
}

/* start */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header .logo_h
{
    width: 100%;
}
header .nav_link
{
    color: #191919;
    font-size: 14px;
    font-family: var(--mr);
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.5s;
}
header .nav_link:hover
{
    color: #007d2f;
}
.h_content
{
    height: 350px;
}
.bg_color
{
    background: #323232;
}
.h_title
{
    color: white;
    font-size: 62px;
    font-family: var(--mr);
    font-weight: 500;
}
.h_par
{
    color: white;
    font-size: 22px;
    font-family: var(--mr);
    font-weight: 400;
    width: 70%;
    text-align: center;
}

/* ------green block------ */
.bg_green
{
    background: #007d2f;
}
.h_block
{
    padding: 65px 0 65px 0;
    color: white;
    line-height: 30px;
}
.h_block i{
    color: white;
    font-size: 50px;
    font-weight: 50;
}

/* ----section---- */
.bg-color_s
{
    background: #f5f5f5;
}
.s_bl
{
    padding: 20% 100px;
}
.s_title
{
    font-size: 30px;
    font-family: var(--mr);
    font-weight: 700;
}
.s_text
{
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--mr);
}
.sc_img
{
    padding-right: 0;
    padding-left: 0;
}
.sc_img img
{
    width: 100%;
}

/* ---button---- */
.sc_title
{
    font-size: 30px;
    font-family: var(--mr);
    font-weight: 700;
}
.sc_text
{
    font-size: 16px;
    font-family: var(--mr);
    font-weight: 400;
    color: #787878;
    width: 50%;
    text-align: center;
}
.sc_link
{
    background: #007d2f;
    padding: 20px 40px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.5s;
}
.sc_link:hover
{
    color:#007d2f;
    background: white;
    text-decoration: none;
}
.m_top
{
    padding: 100px 0;
}

/* -----------foooter------- */

.footer
{
    background: #141414;
    padding-top: 100px;
    padding-bottom: 60px;
}
.f_title
{
    color: #ffffff;
    font-size: 17px;
    font-family: var(--mr);
}
.f_text
{
    color: #bcbcbc;
    font-size: 14px;
    font-family: var(--mr);
    font-weight: 400;
}
.footer_link
{
    color: #bcbcbc;
    font-size: 14px;
    font-family: var(--mr);
    font-weight: 400;
    transition: 0.5s;
}
.footer_link:hover
{
    color: white;
    text-decoration: none;
}
